{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}?v=1.0">

    <title>Controle de Visitantes</title>
</head>

<body>

    {% block conteudo %} {% endblock conteudo %}

    <footer class="rodape">
        <div>
          <a class="rodape-link" href="https://programador-phi.vercel.app/">
            &copy; 2024 App Banco de Dados. Todos os direitos reservados Desenvolvedor Márcio Silva.
          </a>
        </div>
</body>

</html>