
<!--esse botao deve ser colocado la no index.html ai ele faz a ligação do template controle de acesso para o porteiro preencher.
 
            <div class="card">
                <h2><a href="{% url 'controle_acesso' %}">Controle de Acesso</a></h2>
            </div>
            -->

{% load static %}  


<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <title>Controle de Acesso</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Controle de Acesso</h1>
            <nav>
                <ul>
                    <li><a href="{% url 'index' %}">Voltar ao Dashboard</a></li>
                </ul>
            </nav>
        </header>

        <main>
            <form method="post" action="{% url 'adicionar_visitante' %}">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit">Cadastrar Visitante</button>
            </form>
        </main>
    </div>
</body>
</html>
