{% load static %}
<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <title>Controle de Visitantes</title>
</head>

<body>
    <div class="container">
        <header>
            <h1>Controle de Visitantes</h1>
            <nav>
                <ul>
                    <li><a href="{% url 'admin:index' %}">Home</a></li>
                </ul>
            </nav>
        </header>
        
        <main>
            <div class="card">
                <h2>Visitantes Aguardando Autorização</h2>
                <p>0</p>
            </div>
            <div class="card">
                <h2>Visitas Finalizadas</h2>
                <p>0</p>
            </div>
            <div class="card">
                <h2>Visitantes Registrados no Mês</h2>
                <p>0</p>
            </div>
            <div class="card">
                <h2>Visitantes no Condomínio</h2>
                <p>0</p>
            </div>

            <!-- Tabela de Visitantes -->
            <h2>Lista de Visitantes</h2>
            <table border="1">
                <thead>
                    <tr>
                        <th>Nome Completo</th>
                        <th>CPF</th>
                        <th>Número da Casa</th>
                        <th>Horário de Autorização</th>
                        <th>Morador Responsável</th>
                        <th>Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for visitante in todos_visitantes %}
                        <tr>
                            <td>{{ visitante.nome_completo }}</td>
                            <td>{{ visitante.cpf }}</td>
                            <td>{{ visitante.numero_casa }}</td>
                            <td>{{ visitante.horario_autorizacao|date:"d de F de Y às H:i" }}</td>
                            <td>{{ visitante.morador_responsavel }}</td>
                            <td>
                                <a href="{#}">
                                    Ver informações
                                </a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="6">Nenhum visitante encontrado.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
    </div>
</body>
</html>
