{% extends "base.html"%}

{% block conteudo %}
<div class="container">
    <header>
        <h1>Controle de Acesso</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Voltar ao Dashboard</a></li>
            </ul>
        </nav>
    </header>

    <main>
       <!-- <form method="post" action="#">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Cadastrar Visitante</button>
        </form>
        -->
        {{form}}
        
    </main>
</div>
<br><br>


{% endblock conteudo %}
