{% extends "base.html"%}

{%load widget_tweaks%}
{% block conteudo %}
<div class="container">
    <header>
        <h1>Controle de Acesso</h1>
        <nav>
            <ul>
                <li><a href="{% url 'index' %}">Voltar ao Dashboard</a></li>
            </ul>
        </nav>
    </header>

    <p class="paragrafo">
        <small>
            (*) Campo obrigatório
        </small>
    </p>

    <main>
        <form method="post">
            <div class="formulario">
                {% csrf_token %}

                {% for field in form %}
                <div class="grupo">
                    <label>{{ field.label }}</label>
                    {% if field.field.required %} * {% endif %}
                    {% render_field field placeholder=field.label class="form-control" %}
                </div>
                {% endfor %}

                <div class="div-texto">
                    <button class="botao" type="submit">
                        <span class="texto">Registrar Visitante</span>
                    </button>
                </div>
            </div>

        </form>
          <!-- 
       abaixo o form comun nao usual para o projeto:

       <form method="post" action="#">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Cadastrar Visitante</button>
        </form>
       
        abaixo para pucha o formulario pronto sem estilizaçao:

        {{form}}
    
    -->
        <!-- abaixo o formulario ja estilizad com o app 'widget_tweaks': 
    -->

    </main>
    
</div>
<br><br>


{% endblock conteudo %}